apiVersion: servicecatalog.k8s.io/v1beta1
kind: ClusterServiceBroker
metadata:
  name: cns-bucket-broker
spec:
  url: http://172.17.8.101:{port}
  env:
  - name: S3_ENDPOINT
    value: 10.17.112.2:8000
  - name: S3_ACCESS_KEY
    value: blablabla
  - name: S3_SECRET
    value: shhhhh
